{% macro post_card(post) %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                <strong>
                    <a href="{{ path('demo.blog.view', {'id': post.id}) }}" class="inherit">
                        {{ post.title }}
                    </a>
                </strong>
                <a href="{{ path('demo.blog.edit', {'id': post.id}) }}" class="pull-right inherit">
                    <i class="fa fa-pencil"></i>
                </a>
            </p>
            <p class="text-muted">Author Name - {{ post.created }}</p>
        </div>
    </div>
{% endmacro %}

{% macro code_sample_file(title, file, link = null) %}
    {%
        include 'includes/code_sample.html.twig' with {
            'title': title,
            'code': show_file(file),
            'link': link
        }
    %}
{% endmacro %}

{% macro code_sample_snippet(title, snippet, link = null) %}
    {%
        include 'includes/code_sample.html.twig' with {
            'title': title,
            'code': show_snippet(snippet),
            'link': link
        }
    %}
{% endmacro %}
