{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macro %}

{% block body %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{{ path('demo.home') }}">Home</a></li>
            <li class="active">Blog</li>
        </ul>

        {% include 'includes/flashes.html.twig' %}

        <div class="row">
            {# Blog post overview #}
            <div class="col-md-6">
                <a href="{{ path('demo.blog.create') }}"
                   class="btn btn-success btn-block add-new"
                >
                    <i class="fa fa-file pull-left"></i>New blog post
                </a>

                {% for post in posts %}
                    {{ macro.post_card(post) }}
                {% endfor %}

            </div>

            {# Side notes#}
            <div class="col-md-6">
            </div>
        </div>
    </div>
{% endblock %}
