{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{{ path('demo.home') }}">Home</a></li>
            <li class="active">Blog</li>
        </ul>

        {% include 'includes/flashes.html.twig' %}

        <div class="row">
            {# Blog post overview #}
            <div class="col-md-6">
                <a href="{{ path('demo.blog.create') }}" class="btn btn-success btn-lg btn-block">
                    <i class="fa fa-file pull-left"></i>New blog post
                </a>

                {% if posts is not empty %}
                <ul>
                    {% for post in posts %}
                        <li>{{ post.title }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>

            {# Side notes#}
            <div class="col-md-6">
            </div>
        </div>
    </div>
{% endblock %}
