{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Blog index</h1>
        <ul>
            {% for post in posts %}
                <li>{{ post.title }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
